<breadcrumb></breadcrumb>

<!-- <div class="matero-row" fxLayout="row wrap">
  <div class="matero-col" fxFlex="100">
    <app-chart-card>
    <app-assetdiv chart-content></app-assetdiv>
    <app-date-range-picker date-range></app-date-range-picker>
  </app-chart-card>
  </div> -->
<!-- </div> -->
<!-- <mat-slide-toggle
*ngIf="showToggle"
[checked]="toggleChecked"
(change)="toggleCollapsed.emit()"
>
</mat-slide-toggle>
 -->

<mat-card>
  
  <app-date-range-picker date-range></app-date-range-picker>
  <app-dropdown-menu> dropdown-menu</app-dropdown-menu>
  <!-- <app-sidemenu [ripple]="showToggle"></app-sidemenu> -->
  <div style="text-align:center">
  
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [title]="chartOptions.title"
    ></apx-chart>
  </div>
</mat-card>
  
