<breadcrumb></breadcrumb>

<mat-card>
  <div class="flex-container">
  <div style="text-align: left">
  <mat-form-field appearance="fill">
    <mat-label>Choose an Asset</mat-label>
    <mat-select [(value)]="specType">
      <mat-option value="Case">Case</mat-option>
      <mat-option value="Sample">Sample</mat-option>
      <mat-option value="Block">Block</mat-option>
      <mat-option value="Slide">Slide</mat-option>
    </mat-select>
  </mat-form-field>
  </div>
  <div style="text-align: right"><app-date-range-picker date-range></app-date-range-picker></div>
  </div>
  <div style="text-align:center">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [title]="chartOptions.title"
    ></apx-chart>
  </div>
</mat-card>
  
